<!-- Accordion Container -->
<div class="mx-auto md:w-3/5 space-y-2 w-full" data-controller="accordion">
  <!-- Accordion Item 1 -->
  <div class="p-4 rounded-md shadow-md dark:shadow-indigo-700">
    <!-- Title -->
    <div class="flex justify-between items-center cursor-pointer">
      <h2 class="text-xl font-semibold"><%= t('bookmark_instructions.title') %></h2>
      <svg class="w-4 h-4 transition-transform transform" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
    </div>
    <!-- Body -->
    <div class="accordion-body mt-2 hidden">
      <%= render "bookmark_instructions" %>
    </div>
  </div>

</div>
