<article class="prose dark:prose-invert">
  <h1>Terms of Use for Resourc</h1>

  <h2>1. Acceptable Use</h2>
  <p>By using the Platform, you agree not to:</p>
  <ul>
    <li>Engage in illegal activities or violate applicable laws.</li>
    <li>Post offensive, defamatory, or inappropriate content.</li>
    <li>Engage in activities that may harm the Platform or its functionality.</li>
    <li>Access other users' accounts without authorization.</li>
    <li>Share the personal information of other users without their consent.</li>
  </ul>

  <h2>2. User Content</h2>
  <p>Users are responsible for the content they post on the Platform. We reserve the right to remove any content we consider inappropriate or that violates these Terms.</p>

  <h2>3. Intellectual Property</h2>
  <p>All intellectual property rights related to the Platform, including but not limited to trademarks, logos, content, and software, are owned by "Resourc" or third parties with licenses. No intellectual property rights are granted to users.</p>

  <h2>4. Privacy</h2>
  <p>Your privacy is important to us. Please refer to our <a href="link-to-your-privacy-policy">Privacy Policy</a> for detailed information on how we collect, use, and protect your personal data.</p>

  <h2>5. Changes to the Terms</h2>
  <p>We reserve the right to modify these Terms at any time. Changes will be effective immediately upon their publication on the Platform. It is your responsibility to regularly review these Terms.</p>

  <h2>6. Termination</h2>
  <p>We reserve the right to suspend or terminate your access to the Platform in the event of a breach of these Terms.</p>

  <h2>7. Limitation of Liability</h2>
  <p>We are not responsible for direct or indirect damages caused by the use of the Platform. The Platform is provided "as is" and "as available."</p>

  <h2>8. Applicable Law</h2>
  <p>These Terms are subject to the laws of the jurisdiction where our legal entity is registered.</p>

  <h2>9. Contact</h2>
  <p>If you have questions or concerns about these Terms, please contact us at rn39jf1w@duck.com.</p>
</article>

