<div>
  <div>
    <h2 class="font-semibold text-2xl text-gray-900">Comparte</h2>
    <p class="mt-1 text-sm leading-6 text-gray-600">Esta información será pública. Sé responsable con lo que compartes.</p>
  </div>
  <div class="mt-6">
    <%= render "form" %>
  </div>
</div>
