  <div class="mx-auto w-full md:w-4/5 lg:w-3/5 bg-slate-100 dark:bg-slate-900 rounded-xl p-4 md:p-8">
    <div class="text-center">
      <h2 class="font-semibold text-4xl text-gray-900 dark:text-white"><%= t 'links.new.title' %></h2>
      <p class="mt-1 font-semibold leading-6 text-gray-600 dark:text-slate-100"><%= t 'links.new.subtitle' %></p>
    </div>
    <div class="mt-6">
      <%= render "form" %>
    </div>
  </div>
