  <div class="mx-auto w-full md:w-4/5 lg:3/5 xl:w-2/5 border rounded-lg p-8 bg-slate-100 dark:bg-slate-800 dark:border-indigo-400">
    <div class="text-center">
      <h2 class="font-semibold text-2xl text-gray-900 dark:text-white"><%= t 'links.new.title' %></h2>
      <p class="mt-1 text-sm leading-6 text-gray-600 dark:text-slate-100"><%= t 'links.new.subtitle' %></p>
    </div>
    <div class="mt-6">
      <%= render "form" %>
    </div>
  </div>
