<!-- For ERB -->
<footer class="text-black p-4 text-center">
  &copy; <%= Time.now.year %> 2048
  <div class="mt-2">
    <!-- Additional Resources -->
    <a href="https://discord.com/api/oauth2/authorize?client_id=1162817385774993488&permissions=18448&scope=bot" target="_blank" class="text-gray-400 mx-2">DiscordBot</a>
    <a href="/terms" class="text-gray-400 mx-2">Terms of Service</a>
    <a href="/privacy" class="text-gray-400 mx-2">Privacy Policy</a>
  </div>
</footer>

