  <div class="col-span-1 md:col-span-4 lg:col-span-2 lg:col-start-2 xl:col-span-1 xl:col-start-6 flex justify-center items-center place-self-start sticky top-10">
    <div class="flex flex-col gap-4 p-4 border dark:border-slate-500 bg-slate-100 dark:bg-transparent rounded-lg">
      <h2 class="text-xl font-semibold"><%= t 'share_title' %></h2>
      <p class=""><%=  t "share_description" %></p>
      <a href="<%= new_link_path%>" class="text-white bg-gradient-to-r from-rose-600 to-purple-700 text-center rounded-lg px-5 py-2 w-full font-semibold hover:scale-110 transition ease-in-out delay-50 duration-200">+ <%= t 'share' %></a>
    </div>
  </div>
