<article class="prose dark:prose-invert">
  <h1>Privacy Policy</h1>

  <p>This Privacy Policy describes how we handle the personal information we collect through the "Resourc" platform ("Platform").</p>

  <h2>Personal Information</h2>
  <p>We do not collect personally identifiable information, such as names or addresses unless users voluntarily provide it, for example, when registering on the Platform. The only personal information we collect is the email address, which is used for authentication and communication purposes with users.</p>

  <h2>Use of Information</h2>
  <p>The email address provided by users is used exclusively for the following purposes:</p>
  <ul>
    <li>Authentication and access to the Platform.</li>
    <li>Communication related to the Platform, such as activity notifications or changes in the Terms of Use.</li>
    <li>Troubleshooting and user assistance.</li>
  </ul>

  <h2>Account Deletion</h2>
  <p>Users can delete their accounts at any time by accessing their profile. When an account is deleted, all data associated with that account is removed from our database, including the email address.</p>

  <h2>We Do Not Share Third-Party Data</h2>
  <p>We do not share users' personal information with third parties. The user's email address is used exclusively for the purposes mentioned above and is not shared or sold to third parties.</p>

  <h2>Changes to the Privacy Policy</h2>
  <p>We reserve the right to modify this Privacy Policy at any time. Changes will take effect immediately after being posted on the Platform. It is the user's responsibility to regularly review this Privacy Policy.</p>

  <h2>Contact</h2>
  <p>If you have questions or concerns about this Privacy Policy, please contact us at rn39jf1w@duck.com.</p>
</article>

