<article class="prose">
  <h1>Política de Privacidad</h1>

  <p>Esta Política de Privacidad describe cómo tratamos la información personal que recopilamos a través de la plataforma "2048" ("Plataforma").</p>

  <h2>Información Personal</h2>
  <p>No recopilamos información personal identificable, como nombres o direcciones, a menos que los usuarios nos la proporcionen voluntariamente, por ejemplo, al registrarse en la Plataforma. La única información personal que recopilamos es la dirección de correo electrónico, que se utiliza para fines de autenticación y comunicación con los usuarios.</p>

  <h2>Uso de la Información</h2>
  <p>La dirección de correo electrónico proporcionada por los usuarios se utiliza exclusivamente para los siguientes fines:</p>
  <ul>
    <li>Autenticación y acceso a la Plataforma.</li>
    <li>Comunicación relacionada con la Plataforma, como notificaciones de actividad o cambios en los Términos de Uso.</li>
    <li>Resolución de problemas y asistencia al usuario.</li>
  </ul>

  <h2>Eliminación de Cuentas</h2>
  <p>Los usuarios pueden eliminar sus cuentas en cualquier momento accediendo a su perfil. Cuando una cuenta se elimina, todos los datos asociados a esa cuenta se eliminan de nuestra base de datos, incluyendo la dirección de correo electrónico.</p>

  <h2>No Compartimos Datos de Terceros</h2>
  <p>No compartimos la información personal de los usuarios con terceros. La dirección de correo electrónico del usuario se utiliza exclusivamente para los fines mencionados anteriormente y no se comparte ni se vende a terceros.</p>

  <h2>Cambios en la Política de Privacidad</h2>
  <p>Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Los cambios entrarán en vigor inmediatamente después de su publicación en la Plataforma. Es responsabilidad del usuario revisar regularmente esta Política de Privacidad.</p>

  <h2>Contacto</h2>
  <p>Si tienes preguntas o inquietudes sobre esta Política de Privacidad, por favor contáctanos en [tu dirección de contacto].</p>

</article>
